*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section{
  padding: 0 100px;
  background: url(banners/banner1.jpg);
  background-size: cover;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.box{
  position: relative; 
  width: 1000px;
  padding: 350px;
  background: rgba(255,255,255,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  padding-top: 0px;
}
.box h1{
  margin: 10px 0 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 48px;
  text-transform: capitalize;
  color: #fff;
}
@media screen and (max-width:999px) {
  .box{
    width: 100%;
  }
  .box h1{
    width: 100%;
  }
}
@media screen and (max-width:640px) {
  .box{
    width: 100%;
  }
  .box h1{
    width: 100%;
  }
}


.box input{
  margin-right: 80px;
  margin-left: 135px;
  margin-top: 20px;
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  outline: none;
}
#Start{
  border-radius: 5px;
  width: fit-content;
  padding: 4px;
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  margin-right: 80px;
  margin-left: 188px;
  margin-top: 10px;
}
#Stop{
  border-radius: 5px;
  width: fit-content;
  padding: 4px;
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  margin-right: 80px;
  margin-left: 188px;
  margin-top: 10px;
}
#miningStatus{
  color: white;
  font-size: large;
  padding-right: 50px;

}
.status{
  color: #fff;
  font-size: large;
  padding-left: 134px;
}
#foot{
  text-align: center;
}
.mit{
  color: black;
}
.lin{
  color: black;
}
