.backg { 
    background-image: url('./banner3.jpg'); 
    background-size: fill; 
    background-color: #fff;
     background-position: center;
     background-repeat:  no-repeat;
     background-attachment: fixed;

}